*{box-sizing: border-box;
margin: 0;
padding: 0;}

/*Debug*/

.row > [class^="col"] {
    background-color: blue;
    min-height: 100px;
    border: 1px solid rgb(251, 251, 251);
}

/*Utils*/

.container {
    max-width: 1200px;
    margin: 0 auto;
}

.d-flex {
    display: flex;
}

/*Body*/



