*{box-sizing: border-box;
margin: 0;
padding: 0;}

/*Utils*/

.container {
    max-width: 1200px;
    margin: 20px auto;
    color: white;
}

.d-flex {
    display: flex;
}

/*Body*/

.row > [class^="col"] {
    background-color: blue;
    min-height: 100px;
    border: 1px solid rgb(251, 251, 251);
    padding: 10px;
}

.row > div [class^="col"] {
    display: flex;
    justify-content: center;
    align-items: center;
}

.nested {
background-color: chartreuse;
border: 1px solid blue;
display: flex;
justify-content: center;
align-items: center;
color: black;}

