*{box-sizing: border-box;
margin: 0;
padding: 0;}

/*Utils*/

.container {
    max-width: 1200px;
    margin: 20px auto;
    color: white;
}

.d-flex {
    display: flex;
}

.f-wrap {flex-wrap: wrap;}


/*Body*/

.row > [class^="col"] {
    background-color: blue;
    min-height: 80px;
    border: 1px solid rgb(251, 251, 251);
    padding: 10px;
}

.row > div[class^="col"] {
    display: flex;
    align-items: center;
}

.nested {
background-color: chartreuse;
border: 1px solid blue;
display: flex;
height: 100%;
justify-content: center;
align-items: center;
color: black;}

h2 {margin: 20px 0;
color: black;}

h3 {margin: 20px 0;
    color: black;}

.col-6-sm {
    flex-basis: calc( 100% / 12 * 6);
    max-width: calc( 100% / 12 * 6);
    min-height: 30px;
}